<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LÖVE Cookbook | {{ title }}</title>

    {% metagen
      title=title,
      desc=content | preview,
      url='https://diminim.github.io/love-cookbook' + page.url,
      img='https://diminim.github.io/love-cookbook/assets/logo.png',
      img_alt='LÖVE Cookbook',
      twitter_card_type='summary',
      name=authors,
      generator='eleventy'
    %}

    <script src="/assets/js/codeblock.js"></script>
    <script src="/assets/js/hover_preview.js"></script>
    <script src="/assets/js/mobile.js"></script>

    <link rel="stylesheet" href="/assets/styles/fonts.css">
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="/assets/styles/prism.css">
    <link rel="stylesheet" href="/assets/styles/markdown.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=menu" rel="stylesheet">
  </head>
  <body>
    <div class="sidebar">
      <header>
        <a href="/">
            <div class="logo">
                <img class="logo-unhover-img" src="/assets/logo.png" />
                <img class="logo-hover-img" src="/assets/logo_hover.png" />
            </div>

            <h1>LÖVE Cookbook</h1>
        </a>
      </header>

      <nav class="table-of-contents">
        <ul class="chapters">
          {%- for group in guide_groups -%}
            <li class="group-header">
              {%- if group.name -%}
                {{ group.name }}
              {%- endif -%}

              <ul class="guides">
                {%- for guide_url in group.guide_urls -%}
                  <li>
                    {%- set guide_template = collections.guide | filterByUrl(guide_url) | first -%}
                    <a
                      class="{%- if page.url == guide_url -%}active{%- endif -%}"
                      href="{{ guide_template.url }}"
                    >{{ guide_template.data.title }}</a>
                  </li>
                {%- endfor -%}
              </ul>

            </li>
          {%- endfor -%}
        </ul>

      </nav>
    </div>

    <main>
      <article class="guide">
        {{ content | safe }}
      </article>

      <footer class="footer">
        <p>Made with love for the community.</p>
        <div class="footer-links">
          <a href="https://love2d.org">LÖVE Homepage</a>
          <a href="https://discord.gg/hHDfpP4a2w">Discord Server</a>
          <a href="https://github.com/Diminiminim/love-cookbook">Contribute on GitHub</a>
        </div>
      </footer>
    </main>

  </body>
</html>